<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ranfeng.mediationsdkdemo">

    <!-- 广告必须的权限，允许网络访问 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 广告必须的权限，允许安装未知来源权限（如下载类广告下载完成后唤起安卓） -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 广告必须的权限，地理位置权限，获取位置信息，用于广告投放。精准广告投放及反作弊 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 如果有视频相关的广告播放请务必添加，屏幕保持唤醒不锁屏（部分渠道未添加该权限时会出现视频类广告黑屏）-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 如果接入了优量汇渠道，必须加入以下权限，不然会导致优量汇填充失败 -->
    <!-- 允许应用获取 MAC 地址。广告投放及广告监测归因、反作弊 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许应用检测网络状态，SDK 会根据网络状态选择是否发送数据 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 影响广告填充，强烈建议的权限，获取设备信息，允许应用获取手机状态（包括手机号码、IMEI、IMSI权限等）。广告投放及广告监测归因、反作弊 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 为了提高广告收益，建议设置的权限，写入权限，用于下载类广告数据写入 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 为了提高广告收益，建议设置的权限，读取权限，用于下载类广告数据读取（如判断是否已下载过该APK，避免重复下载）-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 为了提高广告收益，建议设置的权限，获取粗略位置信息。精准广告投放及反作弊 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ADRFApplication"
        android:allowBackup="true"
        android:icon="@mipmap/rf_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rf_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/rfmediation_network_security_config"
        tools:replace="android:networkSecurityConfig,android:allowBackup,android:theme">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rfmediation_file_paths" />
        </provider>

        <!--优量汇配置开始-->
<!--        <provider-->
<!--            android:name="com.qq.e.comm.GDTFileProvider"-->
<!--            android:authorities="${applicationId}.gdt.fileprovider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/gdt_file_path" />-->
<!--        </provider>-->
        <!--优量汇配置结束-->

        <!--头条配置开始-->
<!--        <provider-->
<!--            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"-->
<!--            android:authorities="${applicationId}.TTFileProvider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/rfmediation_toutiao_file_paths" />-->
<!--        </provider>-->

<!--        <provider-->
<!--            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"-->
<!--            android:authorities="${applicationId}.TTMultiProvider"-->
<!--            android:exported="false" />-->
        <!--头条配置结束-->

        <!--百度配置开始-->
<!--        <activity-->
<!--            android:name="com.baidu.mobads.sdk.api.AppActivity"-->
<!--            android:configChanges="screenSize|keyboard|keyboardHidden|orientation"-->
<!--            android:theme="@android:style/Theme.NoTitleBar"/>-->

<!--        <activity-->
<!--            android:name="com.baidu.mobads.sdk.api.MobRewardVideoActivity"-->
<!--            android:configChanges="screenSize|orientation|keyboardHidden"-->
<!--            android:launchMode="singleTask"-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

<!--        <provider-->
<!--            android:name="com.baidu.mobads.sdk.api.BdFileProvider"-->
<!--            android:authorities="${applicationId}.bd.provider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/bd_file_paths" />-->
<!--        </provider>-->
        <!--百度配置结束-->

        <!--汇量配置开始-->
        <!--激励视频和插屏视频广告所需Activity-->
<!--        <activity-->
<!--            android:name="com.mbridge.msdk.reward.player.MBRewardVideoActivity"-->
<!--            android:configChanges="orientation|keyboardHidden|screenSize"-->
<!--            android:excludeFromRecents="true" />-->
<!--        &lt;!&ndash;插屏图片广告所需Activity&ndash;&gt;-->
<!--        <activity-->
<!--            android:name="com.mbridge.msdk.interstitial.view.MBInterstitialActivity"-->
<!--            android:configChanges="orientation|screenSize"-->
<!--            android:excludeFromRecents="true" />-->
<!--        &lt;!&ndash;交互广告所需Activity&ndash;&gt;-->
<!--        <activity-->
<!--            android:name="com.mbridge.msdk.interactiveads.activity.InteractiveShowActivity"-->
<!--            android:excludeFromRecents="true"-->
<!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
<!--            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>-->

<!--        <receiver android:name="com.mbridge.msdk.click.AppReceiver">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.PACKAGE_ADDED" />-->
<!--                <data android:scheme="package" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
        <!--汇量配置结束-->

        <activity
            android:name=".activity.SplashAdActivity"
            
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SplashAdLoadShowSeparationActivity"
            android:theme="@style/splash"/>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoActionBar"/>

        <activity
            android:name=".activity.BannerAdActivity"
            android:label="@string/banner_ad" />

        <activity
            android:name=".activity.RewardVodAdActivity"
            android:label="@string/reward_vod_ad" />

        <activity
            android:name=".activity.InterstitialAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/interstitial_ad" />

        <activity
            android:name=".activity.NativeAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/native_ad" />

        <activity
            android:name=".activity.NativeExpressAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/native_express_ad" />

        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/setting"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>

        <activity
            android:name=".activity.PositionSettingActivity"
            android:label="@string/setting" />

        <activity
            android:name=".activity.NormalWebActivity"
            android:label="@string/web" />

        <activity
            android:name=".activity.InterstitialAdAutoCloseActivity" />


    </application>

</manifest>